@import './../global.module.scss';

.inputError {
   border: 2px solid wheat;
}

.inputErrorMessage {
   color: $color-error;
   padding: 1px 5px;
}

.subheader {
   background-color: #000 !important;
   color: #fff;
}

.listItem {
   padding: 0 !important;


   &__mainBox {
      flex-grow: 1;
   }

   &__rightIcon {
      margin-right: 20px;
   }

   &__leftBox {
      margin-right: 20px;
   }



   &__rightBox,
   &__leftBox {
      height: 50px;
   }

   .boxCollapse {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      .wrapperBox {
         width: 60px;
         display: flex;
         justify-self: center;
         align-items: center;
         margin-top: 13px;

         svg {
            width: 100%;
         }
      }

      .slide {
         display: flex;
         justify-self: center;
         align-items: center;
         height: 100%;
      }
   }

   .borderRight {
      border-right: 2px solid #000;
   }

   .borderLeft {
      border-left: 2px solid #000;
   }

}

.listItem {
   height: 50px;
   // border: none !important;
   background-color: none;

   &__dense {
      padding: 0 10px !important;
   }
}