$back-color-form:rgb(133, 40, 133);
$back-color-content:#fff;
$font-color:#f0f;
$color-error:rgb(94, 0, 0);
$font-color1:#696868;
$bg-opacity:#2e2e2ec9;
$app-bg-color:#382238;

$index: calc(1vw + 1vh);
:root{
  --index:calc(1vw + 1vh);
}
body{
  color: #fff !important;
}



