.buttonConfirm {
   margin-left: auto !important;
   display: block !important;
   padding: 8px;
}

.editRecords {
   padding: 16px;
   margin-bottom: 8px;
   display: flex;
   justify-content: space-between;

   & div {
      display: flex;
      align-items: center;
      gap: 16px
   }

}

.fabButton {
   ._activeRotate {
      transform: rotate(135deg);
   }
}

.buttonDelete {
   display: block !important;
   margin-left: auto !important;
   text-transform: none !important;
}