.buttonConfirm {
   margin-left: auto !important;
   display: block !important;
   padding: 8px;
}

.editRecords {
   padding: 16px;
   margin-bottom: 8px;

   & div {
      display: flex;
      align-items: center;
      gap: 16px
   }

   &>div>div {
      justify-content: end;
      width: 100%;
   }
}