@import './../global.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

.appWrapper {
   padding: 0 0 15px;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   overflow: hidden;
   z-index: 2;
   min-height: 100vh;

   &__wrapper {
      position: relative;
   }
}

.title {
   font-family: 'Chilanka', cursive !important;
   font-weight: 600;
   text-align:center;
}