@import './../global.module.scss';


.appWrapper{
   // background-color: $app-bg-color;
   padding: 15px 0;
   // color: $back-color-content;
   background-repeat:no-repeat;
   background-size:cover;
   background-attachment: fixed;
   overflow:hidden;

   min-height:100vh;
   // backdrop-filter: blur(1px);
   &__wrapper{
      position: relative;
   }
}