



.recordWrapper {
   display: flex;
   gap: 10px;

   &__titleBox {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 50px;
      border-right: 2px solid;
   }

   &__contentBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
}

.wrapperFormRecord {
   border-radius: 8px;
   &>div {
      padding: 0px 16px 8px;
   }

   &__footer {
      border-top:2px solid;
      font-size: 0.8em;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .dataPick{
      display: flex;
      align-items: center;
   }
}